.header__navbar {
    background: rgba(250, 251, 253, 0.44);

}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;


    &__menu {
        position: relative;
        display: flex;
        align-items: center;
        padding-left: 100px;
        padding-top: 41px;
        padding-bottom: 41px;

    }

    // &__item {}

    &__link {
        color: #272525;
        font-weight: 600;
        font-size: 18px;
        text-align: center;
        padding: 41px 44px;
        transition: all 400ms ease 0s;

        &:hover {
            color: #FAFBFD;
            background: #272525;
            box-shadow: 0px 16.0566px 20.0707px -4.01414px rgba(26, 32, 44, 0.1), 0px 8.02828px 8.02828px -4.01414px rgba(26, 32, 44, 0.04);
            border-radius: 6px;
        }
    }

    &__second-path {
        display: flex;
        align-items: center
    }

    &__sale {
        font-size: 38px;
        font-weight: 900;
        color: #3C336C;

    }

    &__packet {
        // position: absolute;
        // right: 0;
        opacity: 0.5;
    }
}